<footer class="site-footer">
    <div class="footer-bar"></div>
  
    <div class="footer-main">
      <div class="footer-columns">
        <div class="footer-col">
          <strong>COMPANY</strong>
          <a href="#">Careers</a>
          <a href="#">Press Inquires</a>
          <a href="#">Brand Guidelines</a>
          <a href="#">Supply Store</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Security</a>
          <a href="#">Terms & Conditions</a>
        </div>
        <div class="footer-col">
          <strong>PRODUCT</strong>
          <a href="#">Desktop App</a>
          <a href="#">iPhone App</a>
          <a href="#">Android App</a>
          <a href="#">Search Companion</a>
          <a href="#">Default Search</a>
        </div>
        <div class="footer-col">
          <strong>RESOURCES</strong>
          <a href="#">Getting Started</a>
          <a href="#">Help Center</a>
          <a href="#">Changelog</a>
          <a href="#">Give Feedback</a>
        </div>
        <div class="footer-col">
          <strong>LABS</strong>
          <a href="#">PPLX-API Overview</a>
          <a href="#">Online LLMs</a>
          <a href="#">Playground</a>
          <a href="#">API Documentation</a>
          <a href="#">API FAQs</a>
          <a href="#">API Terms of Service</a>
        </div>
        <div class="footer-col">
          <strong>FOLLOW US</strong>
          <a href="#">X (Twitter)</a>
          <a href="#">Podcast</a>
          <a href="#">Discord</a>
          <a href="#">Threads</a>
          <a href="#">LinkedIn</a>
          <a href="#">YouTube</a>
        </div>
      </div>
  
    <div class="footer-bottom">
      <div class="footer-bottom-left">
        <a href="#"><img src="{{site.baseurl}}/assets/img/logo-small.png" alt="Logo" class="footer-logo"></a>
      </div>
      <div class="footer-bottom-right">
        <p>© Copyright 2025 Simplicity — Where Knowledge Ends</p>
      </div>
    </div>
  
    <div class="footer-line"></div>
  </footer>
  


</body>
</main>